:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    text-transform: capitalize;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 700;
  }
}

button {
  border-radius: 4px;

  &.active {
    border: 1px solid #999;
  }
}