<header>
    <app-view-toggle [(mode)]="viewMode" />
</header>
<main
    [class.grid]="viewMode()==='grid'"
    [class.list]="viewMode()==='list'">
    @for (card of cards(); track card.id) {
        <div class="card">
            <div class="img-wrapper">
                <img [src]="card.img" [alt]="card.title">
            </div>
            <div class="text-wrapper">
                <h3>{{card.title}}&nbsp;#{{card.id}}</h3>
                <p>{{card.text}}</p>
            </div>
        </div>
    }
</main>
